<footer id="footer" class="site-footer">
  <div class="container footer-container">
    <div class="footer-main">
      <div class="footer-col-1">
        <a href="#" class="footer-logo">
          <span class="footer-logo-main">DongThap</span>
          <span class="footer-logo-sub">
            <span>One</span>
            <span>Comune</span>
            <span>One</span>
            <span>Product</span>
          </span>
        </a>
        <div class="social-links">
          <a href="#" class="social-icon facebook"><img src="../assets/images/I22_9255_1_8820.svg" alt="Facebook"></a>
          <a href="#" class="social-icon google"><img src="../assets/images/I22_9255_1_8825.svg" alt="Google"></a>
          <a href="#" class="social-icon youtube"><img src="../assets/images/I22_9255_1_8833.svg" alt="YouTube"></a>
        </div>
        <p class="newsletter-title">Đăng kí nhận tin</p>
        <form class="newsletter-form">
          <input type="email" placeholder="Nhập email của bạn">
          <button type="submit"><img src="../assets/images/I22_9255_1_8794_1674_31027.svg" alt="Submit"></button>
        </form>
      </div>
      <div class="footer-col-2">
        <h4 class="footer-heading">VỀ CHÚNG TÔI</h4>
        <ul class="footer-links">
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Hỗ trợ</a></li>
          <li><a href="#">Góp ý báo lỗi</a></li>
        </ul>
      </div>
      <div class="footer-col-3">
        <h4 class="footer-heading">DANH MỤC NỔI BẬT</h4>
        <ul class="footer-links">
          <li><a href="#">Trái cây</a></li>
          <li><a href="#">Gạo - sản phẩm làm từ gạo</a></li>
          <li><a href="#">Trà</a></li>
          <li><a href="#">Tinh dầu</a></li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h4 class="footer-heading">QUY ĐỊNH</h4>
        <ul class="footer-links">
          <li><a href="#">Liên hệ</a></li>
          <li><a href="#">Hình thức thanh toán</a></li>
          <li><a href="#">Điều khoản sử dụng</a></li>
          <li><a href="#">Chính sách vận chuyển</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-contact">
      <div class="contact-item">
        <img src="../assets/images/I22_9255_1_8797.svg" alt="Location icon">
        <span>756 Quốc lộ 30, xã Mỹ Tân, Thành phố Cao Lãnh, tỉnh Đồng Tháp, Việt Nam.</span>
      </div>
      <div class="contact-item">
        <img src="../assets/images/I22_9255_1_8802.svg" alt="Phone icon">
        <span>(089) 8750 9669 - (089) 1710 2003</span>
      </div>
      <div class="contact-item">
        <img src="../assets/images/I22_9255_1_8808.svg" alt="Support icon">
        <span>Hỗ trợ khách hàng<br><b>lienhe.ocopdongthap.com.vn</b></span>
      </div>
      <div class="contact-item">
        <img src="../assets/images/I22_9255_1_8836.svg" alt="Customer care icon">
        <span>Chăm sóc khách hàng<br><b>ocopdongthap.com.vn</b></span>
      </div>
    </div>
  </div>
</footer> 