<header id="header" class="site-header">
  <div class="header-left">
    <a href="../index.html" class="logo">
      <span class="logo-main">DongThap</span>
      <span class="logo-sub">
        <span style="color:#b13504;">One</span>
        <span style="color:#1e6923;">Comune</span>
        <span style="color:#0e4fa4;">One</span>
        <span style="color:#fc7a1e;">Product</span>
      </span>
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="../index.html" class="nav-link">Trang chủ</a></li>
        <li><a href="gioithieu.html" class="nav-link">Giới thiệu</a></li>
        <li class="dropdown">
          <a href="sanpham.html" class="nav-link">Sản phẩm <img src="../assets/images/I22_9270_1280_28462.svg" alt="dropdown arrow"></a>
          <ul class="dropdown-menu">
            <li><a href="sanpham.html" class="dropdown-item">Trái cây</a></li>
            <li><a href="sanpham.html" class="dropdown-item">Gia vị</a></li>
            <li><a href="sanpham.html" class="dropdown-item">Trà</a></li>
            <li><a href="sanpham.html" class="dropdown-item">Tinh dầu</a></li>
            <li><a href="sanpham.html" class="dropdown-item">Đồ sấy</a></li>
            <li><a href="sanpham.html" class="dropdown-item">Khô thịt</a></li>
          </ul>
        </li>
        <li><a href="tintuc.html" class="nav-link">Tin tức</a></li>
        <li><a href="lienhe.html" class="nav-link">Liên hệ</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-right">
      <form class="search-bar" id="search-form">
        <input type="text" id="search-input" placeholder="Tìm kiếm sản phẩm..." autocomplete="off">
        <button type="submit"><img src="../assets/images/I22_9276_1344_42824.svg" alt="Search Icon"></button>
        <div id="search-results" class="search-results"></div>
      </form>
      <a href="#" class="action-icon"><img src="../assets/images/22_9277.svg" alt="Notifications"></a>
      <a href="#" class="action-icon cart-icon">
        <img src="../assets/images/I22_9278_1280_24601.svg" alt="Shopping Cart">
        <span class="cart-count">0</span>
      </a>
  </div>
</header> 